<!DOCTYPE HTML>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P" rel="stylesheet">
    
</head>
<body>
<div class="container">
<div class='col-xs-12'>
    <div class='row'>
        <h2>Contact List</h2>
        <p>{{contactsCtrl.tagline}}</p>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <button id="addNew" type="button" ui-sref='^.edit' class="btn btn-info pull-right margin-bottom">Add New contacts</button>
        <ul class="nav nav-tabs" id="nav-tabs">
        <!-- TABS -->
        <div class="tab-content tab-content-bordered dfade">
            <!-- TAB 1 -->
            <div ng-show="contactsCtrl.tab === 1">
                <!-- BEGIN panel -->
                <div class="panel panel-default">
                    <!-- BEGIN panel-heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title"></h4>
                    </div>
                    <!-- END panel-heading -->
                    <!-- BEGIN panel-body -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table m-b-0 table-bordered bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Affiliation Description</th>
                                        <th class='btn-col crud-table-buttons'>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contact in contactsCtrl.contacts">
                                        <td>{{contact.name}}</td>
                                        <td>{{contact.email}}</td>
                                        <td>{{contact.phone}}</td>
                                        <td>{{contact.affiliation}}</td>
                                        <td class="btn-col crud-table-buttons">     
                                                <!-- <button type="button" ui-sref="app.contact.edit({id:contact._id})" uib-popover="Edit" popover-trigger="'mouseenter'" href="" class="btn" data-toggle="panel-reload"><i class="ti-pencil"></i></a></button> -->
                                                <button type="button" ui-sref="app.contact.edit({id:contact._id})" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                                <button type="button" class="btn btn-info" ng-click="contactsCtrl.remove(contact._id)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                                <!-- <button type="button" ng-click="contactsCtrl.remove(contact._id)" class="btn btn-danger"></button> -->
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TAB 2 -->
            <div ng-show="contactsCtrl.tab === 2">
                <!-- BEGIN col-6 -->
                <div class="row">
                    <!-- BEGIN panel -->
                    <div class="panel panel-default">
                        <!-- BEGIN panel-heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- END panel-heading -->
                        <!-- BEGIN panel-body -->
                        <div class="panel-body">
                            <p class="desc">contacts</p>
                            <div class="table-responsive">
                                <table class="table m-b-0 table-bordered bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Affiliation Description</th>
                                            <th class='action-buttons-tr'>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contact in contactsCtrl.contacts">
                                            <td>{{contact.name}}</td>
                                            <td>{{contact.email}}</td>
                                            <td>{{contact.phone}}</td>
                                            <td>{{contact.description}}</td>
                                            <td class="btn-col crud-table-buttons">
                                                    <!-- <button type="button" ui-sref="app.contact.edit({id:contact._id})" uib-popover="Edit" popover-trigger="'mouseenter'" href="" class="btn" data-toggle="panel-reload"><i class="ti-pencil"></i></a></button> -->
                                                    <!-- <button type="button" ui-sref="app.contact.delete({id:contact.item._id})" uib-popover="Delete" popover-trigger="'mouseenter'" href="" class="btn" data-toggle="panel-reload"><i class="ti-close"></i></a> -->
                                                    <button type="button" ng-click="contactsCtrl.remove(contact._id)" class="btn btn-danger"></button>
                                                    </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>