<div class='col-xs-12'>
    <div class='row'>
        <h2>contacts</h2>
        <p>{{contactsCtrl.tagline}}</p>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <button type="button" ui-sref='^.edit' class="btn btn-primary pull-right margin-bottom">Add New contacts</button>
        <ul class="nav nav-tabs" id="nav-tabs">
            <!-- <li data-toggle="tab" ng-class="{active:contactsCtrl.tab===1}">
                <a href ng-click="contactsCtrl.tab = 1"><span>Active</span></a>
            </li>
            <li data-toggle="tab" ng-class="{active:contactsCtrl.tab===2}">
                <a href ng-click="contactsCtrl.tab = 2">Disabled contacts</a>
            </li> -->
        </ul>
        <!-- TABS -->
        <div class="tab-content tab-content-bordered dfade">
            <!-- TAB 1 -->
            <div ng-show="contactsCtrl.tab === 1">
                <!-- BEGIN panel -->
                <div class="panel panel-default">
                    <!-- BEGIN panel-heading -->
                    <div class="panel-heading">
                        <h4 class="panel-title"></h4>
                    </div>
                    <!-- END panel-heading -->
                    <!-- BEGIN panel-body -->
                    <div class="panel-body">
                        <p class="desc">contacts</p>
                        <div class="table-responsive">
                            <table class="table m-b-0 table-bordered bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>contact Full Name</th>
                                        <th>contact Email</th>
                                        <th>contact Phone</th>
                                        <th>contact Affiliation Description</th>
                                        <th class='action-buttons-tr'>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contact in contactsCtrl.contacts | filter:{disabled: false}">
                                        <td>{{contact.local.name}}</td>
                                        <td>{{contact.local.email}}</td>
                                        <td>{{contact.local.phone}}</td>
                                        <td>{{contact.local.description}}</td>
                                        <td class="btn-col crud-table-buttons">
                                            <view-edit-delete-buttons item="contact" service="contactsCtrl.service" list="contactsCtrl.contacts"></view-edit-delete-buttons>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TAB 2 -->
            <div ng-show="contactsCtrl.tab === 2">
                <!-- BEGIN col-6 -->
                <div class="row">
                    <!-- BEGIN panel -->
                    <div class="panel panel-default">
                        <!-- BEGIN panel-heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- END panel-heading -->
                        <!-- BEGIN panel-body -->
                        <div class="panel-body">
                            <p class="desc">contacts</p>
                            <div class="table-responsive">
                                <table class="table m-b-0 table-bordered bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>contact Full Name</th>
                                            <th>contact Email</th>
                                            <th>contact Phone</th>
                                            <th>contact Affiliation Description</th>
                                            <th class='action-buttons-tr'>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contact in contactsCtrl.contacts | filter:{disabled: true}">
                                            <td>{{contact.local.name}}</td>
                                            <td>{{contact.local.email}}</td>
                                            <td>{{contact.local.phone}}</td>
                                            <td>{{contact.local.description}}</td>
                                            <td class="btn-col crud-table-buttons">
                                                <view-edit-delete-buttons item="contact" service="contactsCtrl.service" list="contactsCtrl.contacts"></view-edit-delete-buttons>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>